/* цвет эмблеми #000000 */
/*  цвет основного текста #757575 */
/* вторичный цевет текста #212121 */
/* белый цвет #FFFFFF */
/* белый 60%  rgba(255, 255, 255, 0.6);*/
/* акцент #2196F3 */
:root {
    --primary-text-color: #757575;
    --primary-bg-color: #FFFFFF;
    --white-color: #ffffff;
    --logo-color: #000000;
    --secont-text-color: #212121;
    --accent-color: #2196F3;
    --accent-bg-color: #2196F3;
    --secont-bg-color: #2F303A;
    --third-text-color: rgba(255,255,255,0.6);
}
body {
    color: var(--primary-text-color);
    background-color: var(--primary-bg-color);
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.03em;
    font-size: 14px;
}
/* WebStudio */
.logo { 
    color: var(--logo-color);
    font-weight: 700;
    font-size: 26px;
    text-decoration: none;
    font-family: 'Raleway';
}
.accent { 
    color: var(--accent-color);
} 

/* Site-nav */
.site-nav a {
    color: var(--secont-text-color);
    font-weight: 500;
    text-decoration: none;
}
 /* Наведения */
 .site-nav .link:hover,
 .site-nav .link:focus,
 .header-contact:hover,
 .header-contact:focus
  {
 color: var(--accent-color);
 }
 
 .site-nav .link.current {
     color: var(--accent-color);
 } 
/* Tel шапка */
.header-contact  {
    color: var(--primary-text-color);
    font-weight: 500;
    text-decoration: none;
}

/* h1 Hero */
.hero {
    background-color: var(--secont-bg-color);
}
.hero-title {
    color: var(--white-color);
    font-weight: 900;
    font-size: 44px;
    text-transform: uppercase;
}
/* button */
.button {
    color: var(--white-color);
    background-color: var(--accent-color);
    font-weight: 700;
    font-size: 16px;
    cursor: pointer;
    font-family: inherit;
}
/* h2 жирный заголовой */
.section-title {
    color: var(--secont-text-color);
    font-weight: 700;
    font-size: 36px;
}
/* h3 Маленький жирный заголовок */
.feature .title {
    color: var(--secont-text-color);
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
}
/* Our Team */
.team .text {
    font-weight: 500;
    font-size: 16px;
}
/* footer */
.footer-logo {
    color: var(--white-color);
    text-decoration: none;
    
}
.footer-link {
    color: var(--white-color);
    text-decoration: none;
    font-style: normal;
}
.footer-contacts {
    color: var(--third-text-color);
    text-decoration: none;
    font-style: normal;
}
.footer {
    background-color: var(--secont-bg-color);
}

/* крапки в лишках */
ul { list-style: none;
}

.footer-contacts:hover,
.footer-contacts:focus,
.footer-link:hover,
.footer-link:focus {
    color: var(--accent-color);
}

/* page 2 */
/* filters */

.filters .filter{
    color: var(--secont-text-color);
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
    font-family: inherit;
}
.filter:hover,
.filter:focus{
    color: var(--white-color);
    background-color: var(--accent-bg-color);
}
/* Project */
.project .title{
    color: var(--secont-text-color);
    font-weight: 700;
    font-size: 18px;
}
.project .text{
    font-size: 16px;
}
/* .button.primary {
    color: var(--white-color);
    background-color: var(--accent-color);
} */